<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Troy A. Crawford</h1>
    <p class="lead">Hello! I have built this basic log to be a centralized location to hold all of my new found knowledge. Below I break down the day's main take away. Please feel free to reach out on twitter to ask questions or leave comments. When WE all learn, WE all win!</p>
    <a href="https://troycrawford.tech" class="text-center"><h4>Portfolio: https://troycrawford.tech</h4></a>
    <hr class="jumbohr"></hr>
  </div>
</div>

<div class="container">
        <div class="row cardRow">
        <div class= 'col-sm-6 col-md-4 col-lg-4'>
        <div id="twitter">
            <a class="twitter-timeline" data-height="800" data-theme="light" data-chrome="transparent noscrollbar" data-tweet-limit="100" href="https://twitter.com/deveLOVEper1234?ref_src=twsrc%5Etfw">Tweets by deveLOVEper1234</a> 
            {{!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> --}}
        </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-8">
        {{#each data}}
                <div class="card cardStyle" id="card{{id}}">
                <img class="card-img cardImg" src={{imageURL}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{day}}</strong></h5>
                    <p class="card-text"><strong>Learning Summary:</strong> {{summary}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Language Focus:</strong> {{language}}</li>
                    <li class="list-group-item"><strong>Skill Focus:</strong> {{skill}}</li>
                </ul>
                {{!-- <div class="card-body">
                    <h3>Description:</h3>
                    <p>{{description}}</p> --}}
                {{!-- </div> --}}
                <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="card{{id}}">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true" aria-controls="{{id}}">
                            Full Description
                          </button>
                        </h5>
                      </div>

                      <div id="{{id}}" class="collapse" aria-labelledby="{{id}}" data-parent="#accordion">
                        <div class="card-body">
                          <p>{{description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        {{/each}}
        </div>
        </div>
</div>






<!-- Button trigger modal -->
<div class="hide">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEntry">
    Add New Entry
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="newEntry" tabindex="-1" role="dialog" aria-labelledby="newEntryTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newEntryTitle">New Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <div class="container">
        <div class="col-lg-12">
            <form>
            <div class="form-group">
                <label for="Date">Date</label>
                <input type="date" class="form-control" placeholder="" id="day">
            </div>
            <div class="form-group">
                <label for="imageURL">imageURL</label>
                <input class="form-control" type='text' id="imageURL"/>
            </div>
            <div class="form-group">
                <label for="skill">Language</label>
                <select class="form-control" id="language">
                <option>HTML</option>
                <option>CSS</option>
                <option>JavaScript</option>
                <option>Ruby</option>
                <option>Job</option>
                </select>
            </div>
            <div class="form-group">
                <label for="skill">Skill</label>
                <select class="form-control" id="skill">
                <option>Fundementals</option>
                <option>Framework</option>
                <option>Project</option>
                <option>Job</option>
                </select>
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <textarea class="form-control" rows="2" id="summary"></textarea>
            </div>
            <div class="form-group">
                <label for="Description">Full Description</label>
                <textarea class="form-control" rows="4" id="description"></textarea>
            </div>
            </form>
        </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="add">Add </button>
      </div>
    </div>
  </div>
</div>


<script>
  (function($){
    $(window).load(function(){
      /* initialize scrollbar */
      $("#twitter").mCustomScrollbar({
        theme:"dark-3",
        scrollButtons:{enable:true}
      });
      /* insert twitter widget js in window load fn */
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    });
  })(jQuery);
</script>

















